/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:#e6e6e6; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color:#333333;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .my-col {
    margin: 20px;
    padding: 20px;
  }

  #title {
    margin-left: 42vw !important;
    margin-top:0vw !important;
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
  }
  .side {
    margin-top: 15vh;
  }
  .container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

#undertitle {
margin-left: 20vw;
font-size: 40px;
font-family: arial;
}
#paragraph {
    margin-left: 20vw;
    font-size: 20px;
    font-family: arial;

    }

#list {
    margin-left: 20vw;
    font-size: 20px;
    font-family: arial;
    }

#undertitle2 {
    margin-left: 20vw;
    font-size: 40px;
    font-family: arial;
    }